[submodule "public"]
	path = public
	url = git@github.com:tinyzimmer/tinyzimmer.github.io

[submodule "themes/HugoTheme-VibrantShadows"]
	path = themes/HugoTheme-VibrantShadows
	url = https://github.com/Softorage/HugoTheme-VibrantShadows.git
